@model Domain.Entities.ChangePassword
@using Electronic_Ecommerce.Common.Helpers

@{
    ViewBag.Title = "Thay đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    <script src="~/Assets/Client/js/show_hide_password.js"></script>
}

@using (Html.BeginForm("ChangePassword", "Account", null, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <main class="main">
        <div class="page-content mt-3">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-3 col-xl-3">
                        @Html.Partial("_NavbarProfile")
                    </div>
                    <div class="col-12 col-lg-9 col-xl-9 mb-10px">
                        <div class="user-page">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4 class="text-right text-uppercase">Thay đổi mật khẩu</h4>
                            </div>
                            <div class="user-form">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="form-wrap">
                                            <form method="POST" id="loginForm" class="needs-validation" novalidate="" autocomplete="off">
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                <div class="form-group">
                                                    <label class="labels">Mật khẩu cũ <small class="text-danger">(*)</small></label>
                                                    <div class="input-group justify-content-between border-0">
                                                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @required = "required", id = "Oldpass" })
                                                    </div>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text toggle-password" toggle="#Oldpass" style="border:none">
                                                            <span class="material-icons">visibility</span>
                                                        </span>
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group">
                                                    <label class="labels">Mật khẩu mới <small class="text-danger">(*)</small></label>
                                                    <div class="input-group justify-content-between border-0">
                                                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @required = "required", id = "Newpass" })
                                                    </div>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text toggle-password" toggle="#Newpass" style="border:none">
                                                            <span class="material-icons">visibility</span>
                                                        </span>
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group">
                                                    <label class="labels">Nhập lại mật khẩu <small class="text-danger">(*)</small></label>
                                                    <div class="input-group justify-content-between border-0">
                                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @required = "required", id = "Confirmpass" })
                                                    </div>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text toggle-password" toggle="#Confirmpass" style="border:none">
                                                            <span class="material-icons">visibility</span>
                                                        </span>
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group mt-1 center">
                                                    <button class="btn btn-outline-primary-2" type="submit">
                                                        <span>Cập nhật mật khẩu</span>
                                                        <i class="icon-long-arrow-right"></i>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="img-background">
                                            <img src="~/Assets/Client/images/backgrounds/change_pass.jpg" alt="Thay đổi mật khẩu" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
}

